Entity Framework/SelfTrackinEntitiesWCF/InterfazUsuario/Service References/Referencia/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:37575/EFDEmoImplementacion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:37575/EFDEmoImplementacion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:37575/EFDEmoImplementacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEfDemo_ObtenerPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaises" />
  </wsdl:message>
  <wsdl:message name="IEfDemo_ObtenerPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IEfDemo_Modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar" />
  </wsdl:message>
  <wsdl:message name="IEfDemo_Modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResponse" />
  </wsdl:message>
  <wsdl:message name="IEfDemo_ObtenerPaisPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaisPorId" />
  </wsdl:message>
  <wsdl:message name="IEfDemo_ObtenerPaisPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaisPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEfDemo_InsertarPais_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPais" />
  </wsdl:message>
  <wsdl:message name="IEfDemo_InsertarPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IEfDemo_ModificarPaisPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPaisPorId" />
  </wsdl:message>
  <wsdl:message name="IEfDemo_ModificarPaisPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPaisPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IEfDemo">
    <wsdl:operation name="ObtenerPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IEfDemo/ObtenerPaises" message="tns:IEfDemo_ObtenerPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEfDemo/ObtenerPaisesResponse" message="tns:IEfDemo_ObtenerPaises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEfDemo/Modificar" message="tns:IEfDemo_Modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEfDemo/ModificarResponse" message="tns:IEfDemo_Modificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaisPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEfDemo/ObtenerPaisPorId" message="tns:IEfDemo_ObtenerPaisPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEfDemo/ObtenerPaisPorIdResponse" message="tns:IEfDemo_ObtenerPaisPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IEfDemo/InsertarPais" message="tns:IEfDemo_InsertarPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEfDemo/InsertarPaisResponse" message="tns:IEfDemo_InsertarPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPaisPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEfDemo/ModificarPaisPorId" message="tns:IEfDemo_ModificarPaisPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEfDemo/ModificarPaisPorIdResponse" message="tns:IEfDemo_ModificarPaisPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEfDemo" type="tns:IEfDemo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPaises">
      <soap:operation soapAction="http://tempuri.org/IEfDemo/ObtenerPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <soap:operation soapAction="http://tempuri.org/IEfDemo/Modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaisPorId">
      <soap:operation soapAction="http://tempuri.org/IEfDemo/ObtenerPaisPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPais">
      <soap:operation soapAction="http://tempuri.org/IEfDemo/InsertarPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPaisPorId">
      <soap:operation soapAction="http://tempuri.org/IEfDemo/ModificarPaisPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IEfDemo" binding="tns:BasicHttpBinding_IEfDemo">
      <soap:address location="http://localhost:37575/EFDEmoImplementacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>